@import '~node_modules/modern-normalize/modern-normalize.css';
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

input,
textarea {
  outline: none;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  color: #333333;
  background: #E5E5E5;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  padding: 0px 20px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1360px) {
  .container {
    max-width: 1360px;
    padding: 0 28px;
  }
}

.header {
  top: 6px;
  width: 100%;
  background-color: transparent;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .header {
    top: 37px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1360px) {
  .header-container {
    position: relative;
    height: 50px;
  }
}

.hero__container {
  width: 100%;
  height: 533px;
  text-align: center;
  color: #E9E9E9;
  background-color: #303030;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../src/images/images/home/showcase.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero__container {
    height: 1024px;
  }
}
@media screen and (min-width: 1360px) {
  .hero__container {
    height: 768px;
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../src/images/images/home/showcase@2x.jpg);
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../src/images/images/home/showcase.webp);
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../src/images/images/home/showcase@2x.webp);
  }
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .features-list {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
}

.features-list__about {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8333333333;
}
@media screen and (min-width: 768px) {
  .features-list__about {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142857143;
  }
}

.features-list__title {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.625;
}

.about__container {
  background: #28A745;
  color: #FFFFFF;
  padding-top: 40px;
  padding-bottom: 40px;
}

.pre-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6666666667;
}
@media screen and (min-width: 768px) {
  .pre-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.65;
  }
}

.title {
  font-size: 38px;
  font-weight: 300;
  line-height: 1.2631578947;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
}
@media screen and (min-width: 768px) {
  .text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5555555556;
  }
}/*# sourceMappingURL=main.css.map */