body {
    color: $dark-color;
    background: $section-color;
    
    font-family: 'Open Sans', sans-serif;
    @include font(16px, 400, 1.6);

}

html {
    scroll-behavior: smooth
}

.container {
    background: $input-color;
    padding: 40px 20px;
    margin: 0 auto;
    width: 100%;

    @include tab {
        padding: 40px 32px;
    }

    @include desk {
        max-width: 1360px;
        padding: 80px 28px;
    }
}

.section-flex{
    margin: 0 auto;
    max-width: 1360px;
    @include tab{
        @include flex(flex, null, null);
    }
}