    $accent-color: #28A745;
    $section-color: #E5E5E5;
    $dark-text-color: #333333;
    $light-text-color: #FFFFFF;
    $dark-color: #333333;
    $hero-text-color: #E9E9E9;
    $btn-color: #28A745;
    $btn-hover: #2cc550;
    $blog-color: #0284D0;
    $callback-color: #F4F4F4;
    $input-color: #FFFFFF;
