<section class="contact section-flex" id="contact">
  <picture class="contact__picture">
    <source
      type="image/webp"
      srcset="
        ./images/images/home/contact.webp    1x,
        ./images/images/home/contact@2x.webp 2x
      "
    />
    <img
      src="./images/images/home/contact.jpg"
      srcset="
        ./images/images/home/contact.jpg    1x,
        ./images/images/home/contact@2x.jpg 2x
      "
      alt="contact"
      width="320"
      height="220"
      class="contact__img img"
    />
  </picture>
  <div class="container contact__container">
    <div class="contact__form-wrapper">
      <form action="" class="form">
        <h2 class="title">Request Callback</h2>
        <div class="group">
          <input type="text" required />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Enter your name</label>
        </div>
        <div class="group">
          <input type="text" required />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Enter email</label>
        </div>
        <button class="contact__btn btn">Send</button>
      </form>
    </div>
  </div>
</section>
