<section class="features section">
  <div class="container">
    <h2 class="hidden">Features</h2>
    <ul class="list features-list">
      <li class="features-list__item">
        <div class="features-icon">
          <svg class="features-icon__svg" width="35" height="35">
            <use href="./images/sprite.svg#icon-banking"></use>
          </svg>
        </div>
        <h3 class="features-list__title">Investmant Bancking</h3>
        <p class="features-list__about">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
          odit quos?
        </p>
      </li>
      <li class="features-list__item">
        <div class="features-icon">
          <svg class="features-icon__svg" width="35" height="35">
            <use href="./images/sprite.svg#icon-fl-icon"></use>
          </svg>
        </div>
        <h3 class="features-list__title">Portfolio Manager</h3>
        <p class="features-list__about">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
          odit quos?
        </p>
      </li>
      <li class="features-list__item">
        <div class="features-icon">
          <svg class="features-icon__svg" width="35" height="35">
            <use href="./images/sprite.svg#icon-pencil"></use>
          </svg>
        </div>
        <h3 class="features-list__title">Tax & Custudio</h3>
        <p class="features-list__about">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
          odit quos?
        </p>
      </li>
    </ul>
  </div>
</section>
