<footer class="footer container">
  <h2 class="hidden">Social links</h2>
  <div class="footer-social">
    <ul class="social-list footer-social-list">
      <li class="social-list__item">
        <a href="#" class="social-list__link footer-social-link">
          <svg class="social-list__icon" width="35" height="35">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-list__item">
        <a href="#" class="social-list__link footer-social-link">
          <svg class="social-list__icon" width="35" height="35">
            <use href="./images/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social-list__item">
        <a href="#" class="social-list__link footer-social-link">
          <svg class="social-list__icon" width="35" height="35">
            <use href="./images/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="social-list__item">
        <a href="#" class="social-list__link footer-social-link">
          <svg class="social-list__icon" width="35" height="35">
            <use href="./images/sprite.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="copyright">
    <p class="text">Copyright &copy; 2021 - FinanceLedger</p>
  </div>
</footer>
