<section class="gallery" id="gallery">
  <div class="container gallery__container">
    <h2 class="hidden">Gallery</h2>
    <ul class="gallery-list" data-id="gallery">
      <li class="gallery-list__item">
        <a href="./images/images/cases/cases1.jpg">
          <picture class="gallery__picture">
            <source
              type="image/webp"
              srcset="
                ./images/images/cases/cases1.webp    1x,
                ./images/images/cases/cases1@2x.webp 2x
              "
            />
              <img
                src="./images/images/cases/cases1.jpg"
                srcset="
                  ./images/images/cases/cases1.jpg    1x,
                  ./images/images/cases/cases1@2x.jpg 2x
                "
                alt="team at work"
                width="280"
                height="176"
                class="gallery__img img"
              />
          </picture>
        </a>
      </li>
      <li class="gallery-list__item">
        <a href="./images/images/cases/cases2.jpg">
          <picture class="gallery__picture">
            <source
              type="image/webp"
              srcset="
                ./images/images/cases/cases2.webp    1x,
                ./images/images/cases/cases2@2x.webp 2x
              "
            />
              <img
                src="./images/images/cases/cases2.jpg"
                srcset="
                  ./images/images/cases/cases2.jpg    1x,
                  ./images/images/cases/cases2@2x.jpg 2x
                "
                alt="work at the computer"
                width="280"
                height="176"
                class="gallery__img img"
              />
          </picture>
        </a>
      </li>
      <li class="gallery-list__item">
        <a href="./images/images/cases/cases3.jpg">
        <picture class="gallery__picture">
          <source
            type="image/webp"
            srcset="
              ./images/images/cases/cases3.webp    1x,
              ./images/images/cases/cases3@2x.webp 2x
            "
          />
            <img
              src="./images/images/cases/cases3.jpg"
              srcset="
                ./images/images/cases/cases3.jpg    1x,
                ./images/images/cases/cases3@2x.jpg 2x
              "
              alt="analyze"
              width="280"
              height="176"
              class="gallery__img img"
            />
          </picture>
        </a>
      </li>
      <li class="gallery-list__item">
        <a href="./images/images/cases/cases4.jpg">
          <picture class="gallery__picture">
            <source
              type="image/webp"
              srcset="
                ./images/images/cases/cases4.webp    1x,
                ./images/images/cases/cases4@2x.webp 2x
              "
            />
            
              <img
                src="./images/images/cases/cases4.jpg"
                srcset="
                  ./images/images/cases/cases4.jpg    1x,
                  ./images/images/cases/cases4@2x.jpg 2x
                "
                alt="tall buildings"
                width="280"
                height="176"
                class="gallery__img img"
              />
          </picture>
        </a>
      </li>
      <li class="gallery-list__item">
        <a href="./images/images/cases/cases5.jpg">
          <picture>
            <source
              type="image/webp"
              srcset="
                ./images/images/cases/cases5.webp    1x,
                ./images/images/cases/cases5@2x.webp 2x
              "
            />
            <img
              src="./images/images/cases/cases5.jpg"
              srcset="
                ./images/images/cases/cases5.jpg    1x,
                ./images/images/cases/cases5@2x.jpg 2x
              "
              alt="tall buildings"
              width="280"
              height="176"
              class="gallery__img img"
            />
          </picture>
        </a>
      </li>
      <li class="gallery-list__item">
        <a href="./images/images/cases/cases6.jpg">
        <picture>
          <source
            type="image/webp"
            srcset="
              ./images/images/cases/cases6.webp    1x,
              ./images/images/cases/cases6@2x.webp 2x
            "
          />
          
            <img
              src="./images/images/cases/cases6.jpg"
              srcset="
                ./images/images/cases/cases6.jpg    1x,
                ./images/images/cases/cases6@2x.jpg 2x
              "
              alt="friendly team"
              width="280"
              height="176"
              class="gallery__img img"
            />
          </picture>
        </a>
      </li>
      <li class="gallery-list__item">
        <a href="./images/images/cases/cases7.jpg">
        <picture>
          <source
            type="image/webp"
            srcset="
              ./images/images/cases/cases7.webp    1x,
              ./images/images/cases/cases7@2x.webp 2x
            "
          />
          
            <img
              src="./images/images/cases/cases7.jpg"
              srcset="
                ./images/images/cases/cases7.jpg    1x,
                ./images/images/cases/cases7@2x.jpg 2x
              "
              alt="team support"
              width="280"
              height="176"
              class="gallery__img img"
            />
          </picture>
        </a>
      </li>
      <li class="gallery-list__item">
        <a href="./images/images/cases/cases8.jpg">
        <picture>
          <source
            type="image/webp"
            srcset="
              ./images/images/cases/cases8.webp    1x,
              ./images/images/cases/cases8@2x.webp 2x
            "
          />
          
            <img
              src="./images/images/cases/cases8.jpg"
              srcset="
                ./images/images/cases/cases8.jpg    1x,
                ./images/images/cases/cases8@2x.jpg 2x
              "
              alt="happy team"
              width="280"
              height="176"
              class="gallery__img img"
            />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
