<header class="header">
  <div class="container header-container">
    <a href="index.html" class="logo">
      <svg class="logo__icon" width="40" height="31">
        <use href="./images/sprite.svg#icon-fl-icon"></use>
      </svg>
      <span class="logo-finance">Finance</span>
      <span class="logo-ledger">Ledger</span>
    </a>
    <nav class="header-nav">
      <ul class="header__link-list">
        <li class="header__list-item">
          <a href="#home" class="header__item-link current-link">Home</a>
        </li>
        <li class="header__list-item">
          <a href="#about" class="header__item-link">About</a>
        </li>
        <li class="header__list-item">
          <a href="#cases" class="header__item-link">Cases</a>
        </li>
        <li class="header__list-item">
          <a href="#blog" class="header__item-link">Blog</a>
        </li>
        <li class="header__list-item">
          <a href="#contact" class="header__item-link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
