<div class="modal" data-id="modal">
  <div class="modal__body" data-id="backdropModal">
    <div class="modal__content">
      <h2 class="modal__title title">Thank you!</h2>
      <p class="modal__text text">Your form submission has been received</p>
      <a href="" class="modal__back-out">
        <button class="modal__btn btn" data-id="modalBackOut">
          <svg class="btn__icon" width="10" height="10">
            <use href="./images/sprite.svg#icon-arrow-left"></use>
          </svg>
          Back to our site
        </button>
      </a>
    </div>
  </div>
</div>
