.social-list{
    @include flex(flex, center, center);
}


.social-list__item {
    &+& {
        margin-left: 25px;
    }
}
.social-list__link {
    width: 35px;
    height: 35px;
    background-color: inherit;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__icon {
    width: 35px;
    height: 35px;
    fill: currentColor;
}