.blog{
    flex-direction: row-reverse;
}

.blog__container{
    background: $blog-color;
    color: $light-text-color;
    padding-top: 40px;
    padding-bottom: 40px;

    @include tab {
        padding-right: 53px;
        max-width: 575px;
    }

    @include desk {
        padding-right: 56px;
        max-width: 750px;
    }

    & .text {
        margin-bottom: 24px;
    }
}

.blog__picture img {
    object-fit: cover;
    @include tab {
        height: 589px;
    }
    @include desk {
        height: 460px;
    }
}

.blog__btn {
    width: 184px;
    height: 47px;
    border: 1px solid $light-text-color;
    background: $blog-color;

    &:hover{
        background-color: $blog-hover-btn-color;
    }
    @include tab {
        width: 196px;
        height: 50px;
    }
}