.features-list{
    @include flex(flex, space-around, null);
    flex-wrap: wrap;
    text-align: center;
    @include tab {
        @include flex(flex, space-between, center);
            flex-wrap: nowrap;
        }
    
}

.features-list__item{
    margin-bottom: 10px;
    max-width: 300px;
    padding: 0 10px;
}

.features-list__about{
    @include font(12px, 400, (22 / 12));
        @include tab {
            @include font(14px, 400, (24 / 14));
        }
}

.features-list__title{
@include font(16px, 300, (26 / 16));
}
