.gallery__container{
    padding-top: 0;
}
.gallery-list {
    display: grid;
    justify-items: center;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.gallery-list__item{
    &:hover {
        filter: opacity(0.9);
        cursor: pointer;
        transition: 0.3s ease-out;
        transform: scale(1.01);
        border-radius: 4px;
        box-shadow: $box-shadow;
    }
}