.header {
    // position: absolute;
    // z-index: 3;
    top: 6px;
    width: 100%;
    background-color: transparent;
    color: $light-text-color;
    @include tab {
        top: 37px;
    }
}

.header-container {
    @include flex(flex, space-between, center);

    @include desk {
        position: relative;
        height: 50px;
    }
}