.header {
    position: absolute;
    top: 0;
    width: 100%;
    color: $light-text-color;
}

.header-container {
    background-color: transparent;
    @include flex(flex, space-between, center);
    flex-wrap: wrap;
    padding-top: 29px;
    @include desk {
        padding-top: 20px;
    }
}

.header__link-list{
    @include flex(flex, center, center);
    flex-wrap: nowrap;
}

.header__list-item{
    // position: relative;
    &+& {
        margin-left: 12px;
    }

    @include tab {
        &+& {
            margin-left: 20px;
        }
    }

    @include desk {
        &+& {
            margin-left: 40px;
        }
    }
}

.header__item-link{
position: relative;

    &::after {
        content: '';
        width: 100%;
        height: 5px;
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: -15px;
        background-color: $accent-color;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover::after,
    &:focus::after {
        transform: scaleX(1);
        transform-origin: left;
    }
}

.logo{
    margin-bottom: 12px;
    &:hover{
        transform: scale(1.02);
        filter: opacity(90%);
        text-shadow: $box-shadow;
    }
}

.logo span{
    @include font(32px, 400, (42/ 32));
}

.logo-finance{
    color: $accent-color;
}